.hero-title-block {
    padding: 50px 0 30px;
}

.hero-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: 0.03em;
    color: $light-theme-header-color;
}

